.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding-top: 20px;
    margin-top: 0;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    background-color: rgb(0, 0, 0 , 0.9);
    box-shadow: 0 2px 4px rgba(0,0,0,0.9); /* Optional: Add shadow for better visibility */
    z-index: 1000; /* Ensure it stays above other content */
}

.navigations {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.navigationText {
    font-size: 24px;
    font-weight: 500;
    font-family: serif;
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.navigationText:hover {
    color: white;
    text-decoration: underline;
}

.companyName {
    font-size: 48px;
    font-weight: bold;
    font-family: serif;
    margin-bottom: 0;
    color: white;
}

.Logo {
    display: flex;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}
