.about{
    background-color: transparent;
    display: flex;
    padding: 120px 150px;
    justify-content: center;
    gap: 60px;
    flex-wrap:wrap;
    align-items: center;

}

.about p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}